@import "../../../variables.scss";

.label {
    font-size: 14px;
    color: #0071e3;
}

.submit-btn {
    margin-top: 10px;
    font-size: 14px;
    color: $white;
    font-weight: bold;
    --background: #0071e3;
}