<form class='print'>
  <ion-item>
    <ion-label position="stacked" class="ion-padding-bottom label">
      Customer Name
    </ion-label>
    <ion-input inputmode='tel'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" class="ion-padding-bottom label">
      Serial Number
    </ion-label>
    <ion-input inputmode='tel'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked" class="ion-padding-bottom label">
      Phone Number
    </ion-label>
    <ion-input inputmode='tel'></ion-input>
  </ion-item>
  <ion-button class='submit-btn' expand="block">Search</ion-button>
</form>