@import "../../variables.scss";

ion-button {
    margin-top: 20px;
    --background: #0071e3;
    color: $white;
    font-weight: bold;
}

ion-title {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

ion-card-subtitle {
    color: $light-black;
    font-size: 13px;
}

ion-card-title {
    color: $black;
    font-weight: bold;
    font-size: 14px;
}

ion-label {
    font-size: 14px;
    --color: $blue;
}

.label {
    color: $blue;
}