@import "../../../variables.scss";

ion-card-title {
    font-weight: bold;
    font-size: 14px;
    color: $black;
    font-weight: bold;
}

ion-card-subtitle {
    font-size: 13px;
}

.contact {
    font-size: 13px;
    color: $orange;
}

h3 {
    margin: 30px 0 0 10px;
    font-size: 16px;
    color: $light-black;
}

ion-card {
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #e5e5e5;
}